{% set title_tag = (title_tag is not defined) ? 'h2' : title_tag %}

<section class="c-gallery has-{{items|length}}-images">
    {% if title %}
        <div class="c-gallery__intro container">
            <{{title_tag}} class="c-gallery__title">
                {{ title }}
            </{{title_tag}}>
        </div>
    {% endif %}

    <div class="c-gallery__items container grid js-lightbox">
        {% for item in items %}
        <div class="c-gallery__item c-gallery__item--{{ loop.index }}">
            <a href="{{ item.link }}" class="c-gallery__link">
                <img src="{{ item.image_src }}" alt="{{ item.image_alt }}" class="c-gallery__img">
            </a>
        </div>
        {% endfor %}
    </div>
</section>
