{% set title_tag = (title_tag is not defined) ? 'div' : title_tag %}

<section class="c-hero" style="background-image: url('{{ image }}')">
    <div class="c-hero__overlay"></div>
    <div class="c-hero__content">
        <div class="container grid">
            <div class="c-hero__content__inner">
                {% if title %}
                    <{{title_tag}} class="c-hero__title">{{ title }}</{{title_tag}}>
                {% endif %}

                {% if text %}
                    <div class="c-hero__text">
                        {{ text }}
                    </div>
                {% endif %}

                {% if cta__url and cta__text %}
                    <div class="c-hero__cta">
                        <a href="{{ cta__url }}" class="c-button">{{ cta__text }}</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
