{% set imageposition = imageposition ? imageposition : 'left' %}
{% set title_tag = (title_tag is not defined) ? 'div' : title_tag %}

<div class="c-textimage c-textimage--i{{ imageposition }}">

    <div class="grid--super c-textimage__container">
        <div class="c-textimage__content" uk-scrollspy="cls: uk-animation-slide-right-medium; repeat: true; delay: 350; offset-top: 250">
            {% if title %}
                <{{title_tag}} class="c-textimage__title">{{ title }}</{{title_tag}}>
            {% endif %}

            <div class="c-textimage__text">
                {{ text }}
            </div>
        </div>

        <div class="c-textimage__image" uk-scrollspy="cls: uk-animation-slide-left-small; repeat: true; delay: 450; offset-top: 250">
            {{ image }}
        </div>
    </div>
</div>
